<p>login-dialog works!</p>
<div
  class="fixed inset-0 z-1000 flex items-center justify-center bg-black/60 p-4 sm:p-6"
  (click)="closeLoginModel()"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative max-h-[90vh] w-full max-w-sm overflow-y-auto rounded-xl border border-border bg-card p-4 sm:max-w-md sm:p-6 shadow-lg"
  >
    <button
      type="button"
      (click)="closeLoginModel()"
      class="absolute right-3 top-3 sm:right-4 sm:top-4 rounded-sm text-muted-foreground transition-opacity hover:text-foreground focus:outline-none"
    >
      <ng-icon name="lucideX" size="23" class="cursor-pointer" />
    </button>

    <div class="mb-2 sm:mb-4 flex justify-center">
      <img
        src="/logo1.png"
        alt="Make my trip"
        class="h-10 sm:h-12 object-contain"
      />
    </div>

    <div class="mt-2 sm:mt-3 flex flex-col gap-3 sm:gap-4">
      <button
        hlmBtn
        variant="outline"
        size="lg"
        type="button"
        class="w-full cursor-pointer gap-2.5 rounded-xl border border-primary/80 py-2 text-xs sm:text-sm"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
          class="size-5 sm:size-6 shrink-0"
        >
          <path
            fill="#FFC107"
            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
          <path
            fill="#FF3D00"
            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
          ></path>
          <path
            fill="#4CAF50"
            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
          ></path>
          <path
            fill="#1976D2"
            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
        </svg>
        <span class="text-xs sm:text-sm font-semibold text-primary"
          >Login with Google</span
        >
      </button>

      <hlm-field-separator class="my-0.5 sm:my-1 text-xs sm:text-sm"
        >Or continue with</hlm-field-separator
      >

      <form [formRoot]="form" class="flex flex-col gap-3 sm:gap-4">
        <hlm-field>
          <label hlmFieldLabel for="form-email" class="text-xs sm:text-sm"
            >Email</label
          >
          <hlm-input-group class="h-10 sm:h-11">
            <input
              hlmInputGroupInput
              type="email"
              placeholder="Enter your email"
              id="form-email"
              [formField]="form.email"
              class="placeholder:text-xs sm:placeholder:text-sm text-xs sm:text-sm"
            />
          </hlm-input-group>
          <p class="text-[11px] sm:text-xs text-destructive min-h-4">
            @if (form.email().invalid() && form.email().touched()) { {{
            form.email().errors()[0]?.message }} }
          </p>
        </hlm-field>

        <hlm-field>
          <div class="flex items-center justify-between">
            <label hlmFieldLabel for="form-password" class="text-xs sm:text-sm"
              >Password</label
            >
            <a
              (click)="onForgotPasswordClick()"
              class="cursor-pointer text-[11px] sm:text-xs font-medium text-muted-foreground transition-colors hover:text-primary hover:underline"
            >
              Forgot password?
            </a>
          </div>
          <hlm-input-group class="h-10 sm:h-11">
            <input
              hlmInputGroupInput
              [type]="showPassword() ? 'text' : 'password'"
              placeholder="Enter password"
              id="form-password"
              [formField]="form.password"
              class="placeholder:text-xs sm:placeholder:text-sm text-xs sm:text-sm"
            />
            <hlm-input-group-addon
              align="inline-end"
              class="cursor-pointer"
              (click)="toggleShowPassword()"
            >
              <ng-icon
                [name]="showPassword() ? 'lucideEyeOff' : 'lucideEye'"
                size="18"
                class="sm:hidden"
              />
              <ng-icon
                [name]="showPassword() ? 'lucideEyeOff' : 'lucideEye'"
                size="20"
                class="hidden sm:block"
              />
            </hlm-input-group-addon>
          </hlm-input-group>
          <p class="text-[11px] sm:text-xs text-destructive min-h-4">
            @if (form.password().invalid() && form.password().touched()) { {{
            form.password().errors()[0]?.message }} }
          </p>
        </hlm-field>

        <button
          hlmBtn
          size="lg"
          type="submit"
          class="mt-1 sm:mt-2 w-full text-xs sm:text-sm hover:bg-primary/80"
        >
          Submit
        </button>
      </form>

      <div>
        <p hlmFieldDescription class="text-center text-xs sm:text-sm">
          Don't have an account?
          <a
            (click)="onSignUpClick()"
            class="cursor-pointer font-medium underline underline-offset-4 hover:text-primary"
          >
            Sign up
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
