<div class="mx-auto mt-5 w-full max-w-320">
  <!-- Wrapper provides positioning context -->
  <div class="relative bg-white rounded-xl border border-gray-200 shadow-sm px-15 py-3">
    <hlm-carousel class="w-full overflow-visible">
      <hlm-carousel-content class="-ml-3">
        @for (item of DATE_PRICE_CAROUSEL_DATA; track item.id) {
          <hlm-carousel-item class="pl-3 basis-1/3 sm:basis-1/5 md:basis-[12.5%]">
            <div
              [class]="dateCardClass"
              [class.!bg-primary]="selectedDateId() === item.id"
              /* [class.!border-[]="selectedDateId() === item.id" */
              [class.!text-white]="selectedDateId() === item.id && !item.isFlexibleCard"
              (click)="selectedDateId.set(item.id)"
            >
              @if (item.isFlexibleCard) {
                <span
                  class="text-xs font-semibold leading-tight text-center whitespace-pre-line text-gray-600"
                  [class.!text-white]="selectedDateId() === item.id"
                >
                  {{ item.dateStr }}
                </span>
              } @else {
                <span
                  class="text-xs font-medium text-gray-500 sm:text-sm"
                  [class.!text-white]="selectedDateId() === item.id && !item.isFlexibleCard"
                >
                  {{ item.dateStr }}
                </span>
                <span
                  class="text-sm font-bold tracking-tight text-gray-800 sm:text-[15px]"
                  [class.!text-white]="selectedDateId() === item.id && !item.isFlexibleCard"
                >
                  {{ item.currency }}{{ item.price | number }}
                </span>
              }
            </div>
          </hlm-carousel-item>
        }
      </hlm-carousel-content>

      <!-- Buttons MUST be inside hlm-carousel for DI to work -->
      <!-- Override the library's positioning with !important -->
      <button
        hlm-carousel-previous
        class="!absolute !-left-10 !top-1/2 !-translate-y-1/2 !z-20 !h-8 !w-8 !rounded-full !border !border-gray-200 !bg-white !shadow-sm flex items-center justify-center hover:!bg-gray-50 active:scale-95 transition-all"
      ></button>

      <button
        hlm-carousel-next
        class="!absolute !-right-10 !top-1/2 !-translate-y-1/2 !z-20 !h-8 !w-8 !rounded-full !border !border-gray-200 !bg-white !shadow-sm flex items-center justify-center hover:!bg-gray-50 active:scale-95 transition-all"
      ></button>
    </hlm-carousel>
  </div>
</div>
